## Config file for travis automatic build.
## Make sure credentials have been set for this repo:
## travis env set DOCKER_USER
## travis env set DOCKER_PASS
## branches without .travis.yml will not build

language: generic
services:
  - docker
branches:
  only:
  - V2_master
env:
  global:
    - DOCKER_IMAGE_NAME=naturalis/nba-docs
script:
  - docker build -t $DOCKER_IMAGE_NAME:latest ./

after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - docker push $DOCKER_IMAGE_NAME:latest
  - if [ -n "$TRAVIS_TAG" ];
    then docker tag $DOCKER_IMAGE_NAME:latest $DOCKER_IMAGE_NAME:$TRAVIS_TAG && docker push $DOCKER_IMAGE_NAME:$TRAVIS_TAG;
    fi
  - docker logout
