<nav aria-label="Navigation">
  <a href={{.Site.BaseURL}} class="project">
    <div class="banner">
      {{ with .Site.Params.logo }}
      <div class="logo">
        <img src="{{ $.Site.BaseURL }}{{ . }}" >
      </div>
      {{ end }}
      <div class="name">
        <strong>{{ .Site.Title }} </strong>
      </div>
    </div>
  </a>
  
  <div class="scrollable">
    <div class="wrapper">
      {{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
      <ul class="repo">
        <a href="{{ .Site.Params.repo_url }}" target="_blank" title="Download" data-action="download">
          <i class="icon icon-github"></i> View on GitHub
        </a>
      </ul>
      {{ end }}

      <hr>
	  <span style="color:grey"><strong>NETHERLANDS BIODIVERSITY API {{.Site.Params.nba_release}}</strong></span>
      <div class="toc">
        {{ if gt (len .Site.Menus.main) 0 }}
        <ul>
          {{ partial "nav" . }}
        </ul>
        {{ end }}
		
		<hr>

		<span style="color:grey"><strong>PURL SERVICES</strong></span>

		<div class="toc">
          {{ if gt (len .Site.Menus.purl) 0 }}
          <ul>
			{{ partial "nav-purl" . }}			
          </ul>
          {{ end }}
		
		  <hr/>
		
		<ul>
		  {{ with getenv "SWAGGER_UI_URL" }}
          <li>
			<a href="{{ . }}/" target="_blank">API endpoint reference</a>
          </li>
		  {{ end }}
		  
          {{ if gt (len .Site.Menus.misc) 0 }}
          <ul>
			{{ partial "nav-misc" . }}			
          </ul>
          {{ end }}
		  
		  {{ with .Site.Params.support_email }}
          <li>
            <a href="mailto:{{ . }}" title="Email of {{ . }}">
              Contact & Support
            </a>
          </li>
          {{ end }}

		  {{ with .Site.Params.license }}
          <li>
            <a href="{{ . }}" title="License" target="blanc">
              License
            </a>
          </li>
          {{ end }}
		</ul>
		
      </div>
    </div>
  </div>
</nav>
